[submodule "asm6809"]
	path = asm6809
	url = git@github.com:jshbrntt/asm6809.git
[submodule "src/rewrite"]
	path = src/rewrite
	url = git@github.com:jshbrntt/joust-rewrite.git
[submodule "defender"]
	path = defender
	url = git@github.com:jshbrntt/defender.git
